{% extends "base.html" %}
{% load static %}


{% block site-content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/category.css' %}">
    {% include "modal/registermodal.html" %}
    {% include "modal/loginmodal.html" %}
    {% include "partials/_sidenav.html" %}
    <div class="main" id="main">
        <!-- <div class="container">
        <div class="row " >
            <div  class="col-6">
                <ul class="list-group">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                    <li class="list-group-item">And a fifth one</li>
                  </ul>











                {% for et in post  %}
                  <h1>{{et.title}}</h1>
                {% endfor %}
                <ul>
                {% for categorys in category  %}
                <li>
                    {{categorys.category_title}}
                    <ul>
                        {% for test in categorys.category.all  %}
                        <li>{{test}}</li>
                          
                        {% endfor %}
                    </ul>
                </li>
                  
                {% endfor %}
            </ul>
            </div>
        </div>
    </div> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="wrapper wrapper-content animated fadeInRight">
              
                    <div class="ibox-content forum-container">
                        {% for category in categorys  %}
                        <div class="category-container">
                        <div class="category-title-border" >
                        <div class="forum-title">
                            <div class="pull-right forum-desc">
                                <samll>Total posts: 320,800</samll>
                            </div>
                            <!-- forum başlığı kısmı -->
                            <h3 >{{category.category_title}}</h3>
                        </div>
                    </div>
                </div>
                        {% for altcategory in category.category.all  %}
                        <div class="category-border" >
                        <div class="forum-item active">
                            <div class="row justify-content-between">
                                <div class="col-md-9">
                                    <div class="forum-icon">
                                        <i class="{{altcategory.category_icon}} fa"></i>
                                    </div>
                                    <!-- kategorinin içindeki formun ismi -->
                                    <a href="{{altcategory.forum_absolute_url}}" class="forum-item-title">{{altcategory}}</a>
                                    <!-- kategorinin içindeki formun açıklamasının ismi -->
                                    <div class="forum-sub-title">Talk about sports, entertainment, music, movies, your favorite color, talk about enything.</div>
                                </div>
                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        {% for test in altcategory.postcategory.all  %}
                                          
                                        {{test.post_view}}
                                        {% endfor %}
                                    </span>
                                    <div>
                                        <small>Views</small>
                                    </div>
                                </div>
                               

                                <div class="col-md-1 forum-info">
                                    <span class="views-number">
                                        {{altcategory.postcategory.all.count}}
                                    </span>
                                    <div>
                                        <small>Post</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                        {% endfor %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>


</div>


	
	





{% endblock site-content %}