{% extends "base.html" %}



{% block site-content %}
{% if error %}
    <h1>Bu link kullanılmış lütfen yeni link alın</h1>
  {% else %}
  <form action="" method="post">
    {% csrf_token %}
    <input type="password" id="password" placeholder="şifreniz">
    <input type="password" id="password2" placeholder="şifre tekrar">
    <button onclick="resetpassword(event,'{{user}}')">Değiştir</button>
  </form>
{% endif %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
function resetpassword(event,user){ 
 const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
 event.preventDefault();
 $.ajax({
   method: 'POST',
   headers: {'X-CSRFToken': csrftoken},
   url: "{% url 'resetpassword'  %}",
   mode: 'same-origin',
   dataType: 'json',
   data: {

 "password": $("#password").val(),
 "user": `${user}`,
 "password2": $("#password2").val(),
},
success: function (response)
        {
         if (response.result)
          {
             sweetAlert("İşlem Başarılı", response.message, "success");
             butonclick = document.getElementsByClassName('swal-button--confirm')
             Array.from(butonclick).forEach(function(butonclick) {
              butonclick.addEventListener('click', relodat);
              });
             function relodat(){
              window.location.reload()
             }
             setTimeout(() => {
              window.location.reload()
             }, 3000);
          }
          
         else {
              sweetAlert("Hata!", response.message, "error");
         }
       },
});
}
</script>
{% endblock site-content %}