{% extends "base.html" %}
{% load static %}


{% block site-content %}

<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{% static 'css/category.css' %}">
<link rel="stylesheet" href="{% static 'css/profiledetail.css' %}">

    {% include "modal/registermodal.html" %}
    {% include "modal/loginmodal.html" %}
    {% include "partials/_sidenav.html" %}
    <div class="main" id="main">
        <div class="container">
            
           
    
            <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <div id="content" class="content content-full-width">
                        <!-- begin profile -->
                        <div class="profile">
                           <div class="profile-header">
                              <!-- BEGIN profile-header-cover -->
                          
                              <div class="profile-header-cover" 
                              style="
                              {% if user.banner %} 
                              background-image: url({{user.banner.url}}); 
                              {% else %}
                              background-image: url(https://bootdey.com/img/Content/bg1.jpg);
                              {% endif %}
                              "
                                >
                              </div>
                              <!-- END profile-header-cover -->
                              <!-- BEGIN profile-header-content -->
                              <div class="profile-header-content">
                                 <!-- BEGIN profile-header-img -->
                                 <div class="profile-header-img">
                                    {% if user.avatar %}
                                    <img src="{{user.avatar.url}}" alt="">
                                    {% else %}
                                    <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                    {% endif %}
                                 </div>
                                 <!-- END profile-header-img -->
                                 <!-- BEGIN profile-header-info -->
                                 <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">{{user.username}}</h4>
                                    {% if user.about %}
                                      
                                    <p class="m-b-10">{{user.about}}</p>
                                    {% else %}
                                    <p class="m-b-10">Buralar Boş</p>
                                    {% endif %}
                                    
                                    <a href="#" class="btn btn-sm btn-info mb-2">Edit Profile</a>
                                 </div>
                                 <!-- END profile-header-info -->
                              </div>
                              <!-- END profile-header-content -->
                              <!-- BEGIN profile-header-tab -->
                              {% include "partials/_profilenav.html" %}

                              <!-- END profile-header-tab -->
                           </div>
                        </div>
                        <!-- end profile -->
                        <!-- begin profile-content -->
                        <div class="profile-content">
                           <!-- begin tab-content -->
                           <div class="tab-content p-0">
                              <!-- begin #profile-post tab -->
                              <div class="tab-pane fade active show" id="profile-post">
                                 <!-- begin timeline -->
                                 <ul class="timeline">
                                    {% for post in user_post %}
                                      
                                    <li>
                                       <!-- begin timeline-time -->
                                       <div class="timeline-time">
                                          <span class="date">Bugun</span>
                                          <span class="time">{{post.post_created|date:"d M Y"}}</span>
                                       </div>
                                       <!-- end timeline-time -->
                                       <!-- begin timeline-icon -->
                                       <div class="timeline-icon">
                                          <a href="javascript:;">&nbsp;</a>
                                       </div>
                                       <!-- end timeline-icon -->
                                       <!-- begin timeline-body -->
                                       <div class="timeline-body">
                                          <div class="timeline-header">
                                             <span class="userimage">
                                                {% if post.author_user.avatar %}
                                                <img src="{{post.author_user.avatar.url}}" alt="">
                                                {% else %}
                                                <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="">
                                                {% endif %}
                                            </span>
                                             <span class="username"><a href="javascript:;">{{user.username}}</a> <small></small></span>
                                             <span class="pull-right text-muted">{{post.post_view}}</span>
                                          </div>
                                          <div class="timeline-content">
                                             {{post.content|safe}}
                                          </div>
                                          <div class="timeline-likes">
                                             <div class="stats-right">
                                                <span class="stats-text">259 Shares</span>
                                                <span class="stats-text"> {{post.comments.all.count}} Yorum</span>
                                             </div>
                                             <div class="stats">
                                                <span class="fa-stack fa-fw stats-icon">
                                                <i class="fa fa-circle fa-stack-2x text-danger"></i>
                                                <i class="fa fa-heart fa-stack-1x fa-inverse t-plus-1"></i>
                                                </span>
                                                <span class="fa-stack fa-fw stats-icon">
                                                <i class="fa fa-circle fa-stack-2x text-primary"></i>
                                                <i class="fa fa-thumbs-up fa-stack-1x fa-inverse"></i>
                                                </span>
                                                <span class="stats-total" id="stats-total">{{post.like.all.count}}</span>
                                             </div>
                                          </div>
                                          <div class="timeline-footer">
                                            {% if user_likes %}
                                            <a href="#"  onclick="like('{{post.id}}')" class="m-r-15 text-danger me-3 " id="likebuttonid">
                                             {% else %}   
                                            <a href="#"  onclick="like('{{post.id}}')" class="m-r-15 text-inverse-lighter me-3 " id="likebuttonid">
                                            {% endif %}
                                            <i class="fa fa-thumbs-up fa-fw fa-lg m-r-3 " ></i> Beğen </a>
                                             <a href="javascript:;" class="m-r-15 text-inverse-lighter me-3"><i class="fa fa-comments fa-fw fa-lg m-r-3"></i> Comment</a> 
                                             <a href="javascript:;" class="m-r-15 text-inverse-lighter"><i class="fa fa-share fa-fw fa-lg m-r-3"></i> Share</a>
                                          </div>
                                          <hr style="color: white;">
                                          <div class="timeline-comment-box">
                                            <div class="row bootstrap snippets bootdeys">
                                                <div class="col-md-12 col-sm-12">
                                                    <div class="comment-wrapper">
                                                        <div class="panel panel-info">
                                                            <div class="panel-heading">
                                                               
                                                            </div>
                                                            <div class="panel-body">
                                                                <textarea class="form-control" placeholder="write a comment..." rows="3"></textarea>
                                                                <br>
                                                                <button type="button" class="btn btn-info pull-right">Post</button>
                                                                <div class="clearfix"></div>
                                                                <hr style="color: white;">
                                                                <ul class="media-list">
                                                                    {% for  comment in post.comments.all  %}
                                                                    <li class="media">
                                                                        <a href="#" class="pull-left">
                                                                            {% if comment.comment_author.avatar %}
                                                                            <img src="{{comment.comment_author.avatar.url}}" alt="" class="img-circle">
                                                                              {% else %}
                                                                              <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                                            {% endif %}
                                                                        </a>
                                                                        <div class="media-body">
                                                                            <span class=" pull-right">
                                                                                <small class="ps-2 text-white opacity-50">30 min ago</small>
                                                                            </span>
                                                                            <strong class="text-success">{{comment.comment_author}}</strong>
                                                                            <p class="text-white">
                                                                                {{comment.comment_content|safe}}
                                                                            </p>
                                                                        </div>
                                                                    </li>
                                                                    {% endfor %}
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                            
                                                </div>
                                            </div>
                                       <!-- end timeline-body -->
                                    </li>
                                    {% endfor %}
                                 </ul>
                                 <!-- end timeline -->
                              </div>
                              <!-- end #profile-post tab -->
                           </div>
                           <!-- end tab-content -->
                        </div>
                        <!-- end profile-content -->
                     </div>
                  </div>
               </div>
            </div>
    </div>
</div>

<script>
    async function like(id){
        
        let request = await fetch(`http://127.0.0.1:8000/api/v1/${id}/like`);
        let response = await request.json();
        let likecount = document.getElementById('stats-total');
        if (response.data.status == 'true'){
            console.log('zatenbegenmis');
            document.getElementById('likebuttonid').classList.remove('text-danger')
            likecount.innerHTML = `${response.data.count}`
        }
        else{
            document.getElementById('likebuttonid').classList.add('text-danger')
            console.log('begenmemis');
            likecount.innerHTML = `${response.data.count}`
        }

    }
</script>
{% endblock site-content %}